

.master {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 1280px;

  .header-and-children {
    flex: 1
  }

  .children {
    display: flex;
    justify-content: center;
  }
}
