.header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 1200px;
    min-width: 1200px;
  }

  div {
    display: flex;
    align-items: center;
  }

  .weather {

    .site {
      margin-right: 40px;
      color: #4990e2;
    }

    .tmp {
      color: #2ec75d;
    }
  }
}
